* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FFE4E4;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  margin-top: 50px;
  color: #3C2829;
}

.button-and-grid-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 900px;
  display: flex;
  justify-content: space-around;
  flex: 1;
  margin-top: 50px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.coloring-brush-container,
.shading-brush-container,
.grid-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  background-color: inherit;
  border: #463233 1px outset;
  box-shadow: #C6ADAD 1px 1px 1px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
  color: #463233;
  padding: 15px 22px;
}

button:hover {
  background-color: #E38ED9;
}

.selected {
  background-color: #AA59A2;
  color: #FFE4E4;
}

.grid-buttons-container button:active {
  background-color: #AA59A2;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: black outset 2px;
  box-shadow: #463233 3px 4px 4px;
}

.row {
  display: flex;
  flex: 1;
}

.grid-cell {
  border: 1px solid #988080;
  flex: 1;
}

.grid-message {
  margin: auto;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #463233;
}
