* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.row {
  display: flex;
  flex: 1;
}

.grid-cell {
  border: 1px solid #9C9C9C;
  flex: 1;
}
